/*=============================================== *
A 「Pink ❀ Himalayan」PROJECT
https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */

body { 
	font-family: open sans; 
	font-size: 12px; 
	color: #222; margin:0px;
	padding:0px; 
    background-color: var(--back1); 
	text-align:center;
	background-image: var(--background-link);
	background-size: cover;
	background-attachment: fixed;
	scrollbar-color: var(--accent2) var(--outline);

--background-link: url(https://img.nickpic.host/lhpgYY.png);
--back1: #E6E9ED;
--back2: #fff;
--lo-back: #E6E9ED80;
--shadow: #666;
--outline: #fff;
--accent1: #BE9FD1; 
--accent2: #8591C7;
--accent3: #5B87BE;

/***** MEMBER CLASS COLOR START *****/
--g3Member: #BC2EAA;
--g4Admin: #C77CFF;
--g6Captain: #8F6060;
--g7Pokemod: #C24F64;
--g8Trainer: #7E4AA1;
--g9Performer: #3676DD;
--g10Breeder: #F96052;
--g11Teamaltair: #3BCCBE;
--g12Ranger: #8AC266;
--g13Pedestrian: #08A169;
--g14Champion: #7062CC;
--g15Formerchampion: #6256B2;
--g17Scribe: #38E07B;
--g18Recruiter: #E7945C;
--g19Gymleader: #4ACFA7;
--g22Regent: #62A5CC;
--g23Formerregent: #5086A6;
/***** MEMBER CLASS COLOR END *****/
}

/*=============================================== *
IMPORTANT SNIPPETS - A 「Pink ❀ Himalayan」PROJECT

https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */
/*
font-family: 'Bad Script', cursive;
font-family: 'Cute Font', cursive;
font-family: 'Delius Unicase', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Shadows Into Light', cursive;
*/

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/* Style the button that is used to open and close the collapsible content */
.AureaGithubCollapsible {
    background-color: Transparent;
    cursor: pointer;
    padding: 0px;
    width: 55px;
    height: 55px;
    border: none;
    text-align: center;
    outline: none;
    float:right;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .AureaGithubCollapsible:hover {
    background-color: rgba(230,233,237, .75);
    border-radius:5px;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width:250px;
    position:absolute;
    left:0px;
    top:0px;
  }

.fa-bars {
width:50px;
height:50px;
font-size: 50px;
color:#444;
background: rgb(190,159,209);
background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
-webkit-background-clip: text;
-webkit-text-stroke: 5px transparent;
}