/*=============================================== *
A 「Pink ❀ Himalayan」PROJECT
https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */
body { 
    height:100%;
    font-family: open sans; 
    font-size: 12px; 
    color: #222; margin:0px;
    padding:75px 75px; 
    background-color: var(--back1); 
    text-align:center;
    background-image: var(--background-link);
    background-size: cover;
    background-attachment: fixed;
    overflow:auto;
}
    
body {
--background-link: url(https://cdn.discordapp.com/attachments/903810536632881162/1115375271500054579/altaria_skin_banner_4x_HNRx2.png);
--back1: #E6E9ED;
--back2: #fff;
--lo-back: #E6E9ED80;
--lo-back2: #E6E9EDCC;
--shadow: #666;
--outline: #fff;
--accent1: #BE9FD1; 
--accent2: #8591C7;
--accent3: #5B87BE;

/***** MEMBER CLASS COLOR START *****/
--g3Member: #BC2EAA;
--g4Admin: #C77CFF;
--g6Captain: #8F6060;
--g7Pokemod: #C24F64;
--g8Trainer: #7E4AA1;
--g9Performer: #3676DD;
--g10Breeder: #F96052;
--g11Teamaltair: #3BCCBE;
--g12Ranger: #8AC266;
--g13Pedestrian: #08A169;
--g14Champion: #7062CC;
--g15Formerchampion: #6256B2;
--g17Scribe: #38E07B;
--g18Recruiter: #E7945C;
--g19Gymleader: #4ACFA7;
--g22Regent: #62A5CC;
--g23Formerregent: #5086A6;
/***** MEMBER CLASS COLOR END *****/
}


/* MAIN BODY SCROLL BARS */
html { overflow-y: scroll; scrollbar-color: #8591C7 #fff; scrollbar-width: thin;}


body::-webkit-scrollbar{width:8px}
body::-webkit-scrollbar-track{background: var(--outline);}
body::-webkit-scrollbar-thumb{background:var(--accent2); }

/* CUSTOM TOOL TIPS */
#s-m-t-tooltip{
/* basic */
    max-width:300px;
    z-index:100000;
    margin:24px 14px 7px 12px;
/* style and design */
    padding:8px;
    background:var(--lo-back2); /* fallback if rgba not supported */
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    line-height:16px;
    color:var(--accent2);
    text-transform: uppercase;
    font-weight: 700;
    border:3px solid white;
}


/*=============================================== *
IMPORTANT SNIPPETS - A 「Pink ❀ Himalayan」PROJECT

https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== *//*

HTML COMMENT: <!-- Write your comments here -->

font-family: 'Bad Script', cursive;
font-family: 'Cute Font', cursive;
font-family: 'Delius Unicase', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lora', serif;
font-family: 'Noto Serif', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Yellowtail', cursive;
font-family: 'Carattere', cursive;
font-family: 'Fleur De Leah', cursive;
*/

/*=============================================== *
MAIN BODY - A 「Pink ❀ Himalayan」PROJECT

https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */
.MainAureaParent{ min-height:200px;}

.MainAureaContent{ 
    height:auto;
    border:5px solid green;
    border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;
    min-height:500px;
    background-color: var(--lo-back);
    display:flex;
    justify-content: space-around;
    align-items:center;
    box-shadow: 1px 1px 20px #444;
}

.MascotSwablu{
    width:250px;
    height:400px;
    background:white;
    border-radius:15px;
    padding:10px;
}

.MascotSwablu img{
    border:3px solid var(--back1);
    padding:25px;
    border-radius:360px;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,.50) 0%, rgba(91,135,190,.50) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,.50) 0%, rgba(91,135,190,.50) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,.50) 0%, rgba(91,135,190,.50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd180",endColorstr="#5b87be80",GradientType=1);
}

.MascotSwablu span{
    font-family:"yellowtail", cursive;
    font-size: 25px;
}

.MascotSwablu a:link, .MascotSwablu a:visited, .MascotSwablu a:link {
    text-decoration:none; color:#444;}

.MascotSwablu a:hover {
    background: #CFA3D5;
    background: -webkit-linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    background: -moz-linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    background: linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding:10px;
}

.SwabluScroll{
    width:240px;
    height:205px;
    overflow:auto;
    overflow-y: scroll; 
    scrollbar-color: #8591C7 #fff; 
    scrollbar-width: thin;
    text-align: justify;
    padding:5px;
    font-family: 'Open Sans', sans-serif;
}


.SwabluScroll::-webkit-scrollbar{width:8px}
.SwabluScroll::-webkit-scrollbar-track{background: var(--outline);}
.SwabluScroll::-webkit-scrollbar-thumb{background:var(--accent2); }

.ContactBox{
    width:250px;
    height:400px;
    background:white;
    border-radius:15px;
    padding:10px;
}

.ContactBox h1{border: 0px solid red; 
    padding:2px;
    font-family:"yellowtail", cursive; 
    font-size: 25px; 
    color:#444;
    -webkit-text-stroke: 3px transparent;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
}

.fa-discord{border: 0px solid red;
    width:60px;
    height:50px;
    font-size: 50px;
    color:#444;
    -webkit-text-stroke: 11px transparent;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 10px;
}

.AffiliateStyle{
    width:88px;
    height:31px;
    padding:25px;
    border: 5px solid;
    border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;
}

.GradientDivide{
    width:250px;
    border-bottom:5px solid #444;
    margin:10px auto;
    border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;}

.UpdateBox{
    width:250px;
    height:400px;
    background:white;
    border-radius:15px;
    padding:10px;
}

.UpdateTitle b{
    padding:10px;
    width:100%;
    font-family:"yellowtail", cursive; 
    font-size: 35px; 
    color:#444;
    -webkit-text-stroke: 3px transparent;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
}

.linkyevent{border:0px solid red;
    margin-top:-50px !important;}

.linkyevent b{border:0px solid red;
    font-family:"yellowtail", cursive; 
    font-size: 35px; 
    color:#444;
    padding:0 15px 5px 5px;
    -webkit-text-stroke: 3px transparent;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
}

.linkyevent a{
    color: var(--accent1);
    text-decoration:none;
    font-size: 25px; 
    font-family:'dosis', sans serif; 
    font-weight:bold;
}
    
.linkyevent a:hover {
    background: #CFA3D5;
    background: -webkit-linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    background: -moz-linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    background: linear-gradient(to right, #CFA3D5 15%, #5B87BE 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.HimaPatchScroll{border:3px solid red;
    width:91%;
    height:100px;
    overflow:auto;
    overflow-y: scroll; 
    scrollbar-color: #8591C7 #fff; 
    scrollbar-width: thin;
    text-align: justify;
    padding:5px 10px 5px 10px;
    font-family: 'Open Sans', sans-serif;
    border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;
}
        
    .HimaPatchScroll::-webkit-scrollbar{width:8px}
    .HimaPatchScroll::-webkit-scrollbar-track{background: var(--outline);}
    .HimaPatchScroll::-webkit-scrollbar-thumb{background:var(--accent2); }

.HimaPatchScroll hima::before{
    content: "\ec85";
    font-family:'cappuccicons';
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.HimaPatchScroll inprogress::before{
    content: "\f085";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.HimaPatchScroll planned::before{
    content: "\f271";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-stroke: 5px transparent;
}

.HimaPatchScroll patch::before{
    content: "\f0a1";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.HimaPatchScroll canceled::before{
    content: "\f0c4";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.HimaPatchScroll b{
    font-family: 'Bad Script', cursive;
    color: #444;
    font-size: 25px;
    padding:3px;
    padding-right:10px;
    background: rgb(255,196,230);
    background: -moz-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    background: linear-gradient(135deg, rgba(255,196,230,1) 0%, rgba(236,151,176,1) 50%, rgba(223,82,122,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffc4e6",endColorstr="#df527a",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}


/*=============================================== *
NAV MENU - A 「Pink ❀ Himalayan」PROJECT

https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */
.AureaGithubCollapsible button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

/* Style the button that is used to open and close the collapsible content */
.AureaGithubCollapsible {
    background-color: Transparent;
    cursor: pointer;
    padding: 0px;
    width: 55px;
    height: 55px;
    border: none;
    text-align: center;
    outline: none;
    position:fixed;
    right: 5px;
    top:5px;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .AureaGithubCollapsible:hover {background-color: rgba(230,233,237, .75);border-radius:5px;}
  
/* Style the collapsible content. Note: hidden by default */
.AureaMenuContent {
    display: none;
    overflow: hidden;
    background-color: var(--lo-back);
    width: 50vw;
    max-width:300px;
    position:fixed;
    left:0px;
    top:0px;
    z-index:999999;
    min-height:200px;
    border-radius: 0 0 15px 0;
}

.fa-bars {
    width:50px;
    height:50px;
    font-size: 50px;
    color:#444;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.AureaMenuButtons {padding: 0 5px;}

.AureaMenuButtons i{
    width:70px;
    height:75px;
    font-size: 50px;
    padding-right:5px;
    color:#444;
    background: rgb(190,159,209);
    background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 5px transparent;
}

.AureaMenuButtons span, .AureaMenuButtons i{display: flex; justify-content:space-between; align-items:center;}

.AureaMenuButtons i{justify-content:end;}

.AureaMenuContent a:link, .AureaMenuContent a:visited, .AureaMenuContent a:link {
color: #444; text-decoration:none;}

.AureaMenuButtons b{font-size:50px; font-family: 'Cute Font', cursive;}

.AureaMenuButtons:hover{background-color: var(--lo-back);}


/*=============================================== *
RESPONSIVE SECTION - A 「Pink ❀ Himalayan」PROJECT

https://aurearegion.github.io/AureaInTheClouds/home
*=============================================== */

/*PHONE SCREENS*/
@media only screen and (max-width: 600px) {
    body{padding:75px 25px;
        background-image: var(--background-link);
        background-size: cover;
        background-attachment: fixed;}

    .AureaMenuButtons b{
        font-size:30px;
        font-family: 'Cute Font', cursive;
        /*border:1px solid purple;*/
        }
            
            .AureaMenuButtons i{
            width:45px;
            height:50px;
            font-size: 40px;
            padding-right:5px;
            color:#444;
            background: rgb(190,159,209);
            background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-stroke: 5px transparent;
            /*border:1px solid red;*/
            }

            .MainAureaContent{ 
                height:auto;
                border:5px solid green;
                border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;
                min-height:500px;
                background-color: var(--lo-back);
                display:flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items:center;
                gap: 20px;
                padding:10px;
                
                }

                .AureaMenuContent {
                    display: none;
                    overflow: hidden;
                    background-color: var(--lo-back);
                    width: 50vw;
                    max-width:300px;
                    position:fixed;
                    left:0px;
                    top:0px;
                    z-index:999999;
                    min-height:200px;
                    border-radius: 0 0 15px 0;
                    }

            
  }
  
  /*TABLET SCREENS*/
  @media only screen and (max-width: 1000px) {
    body{padding:75px 25px;
        background-image: var(--background-link);
        background-size: cover;
        background-attachment: fixed;}

    .AureaMenuButtons b{
        font-size:30px;
        font-family: 'Cute Font', cursive;
        /*border:1px solid purple;*/
        }
            
            .AureaMenuButtons i{
            width:45px;
            height:50px;
            font-size: 40px;
            padding-right:5px;
            color:#444;
            background: rgb(190,159,209);
            background: -moz-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            background: -webkit-linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            background: linear-gradient(90deg, rgba(190,159,209,1) 0%, rgba(91,135,190,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#be9fd1",endColorstr="#5b87be",GradientType=1);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-stroke: 5px transparent;
            /*border:1px solid red;*/
            }

            .MainAureaContent{ 
                height:auto;
                border:5px solid green;
                border-image: linear-gradient(90deg, rgb(207,163,213), rgb(91,135,190)) 1;
                min-height:500px;
                background-color: var(--lo-back);
                display:flex;
                flex-flow: column wrap;
                justify-content: space-between;
                align-items:center;
                gap: 20px;
                padding:10px;
                
                }

                .AureaMenuContent {
                    display: none;
                    overflow: hidden;
                    background-color: var(--lo-back);
                    width: 50vw;
                    max-width:300px;
                    position:fixed;
                    left:0px;
                    top:0px;
                    z-index:999999;
                    min-height:200px;
                    border-radius: 0 0 15px 0;
                    }

            
  }
  